<div class="jumbotron">
	<ul class="list-group">
		<li class="list-group-item clearfix">
			Questions: <%= quizzes %>
		</li>
		<li class="list-group-item clearfix">
			Published comments: <%= comments %>
		</li>
		<li class="list-group-item clearfix">
			Average comments per question: <%= avg %>
		</li>
		<li class="list-group-item clearfix">
			Questions without comments: <%= without_comments %>
		</li>
		<li class="list-group-item clearfix">
			Questions with comments: <%= with_comments %>
		</li>
	</ul>
</div>